.headerContainer{
  height:6rem;
  background-color: var(--background)

}

.headerContent{
  max-width: 1120px;
  height:10rem;
  margin: 0 auto;
  padding:0 2rem;

  display:flex;
  align-items:center;

  img{
    height:2rem;

    & + img{
      margin-left: 1rem;
    }
  }

  span{
    font-size: 2rem;
    color: var(--pink);
  }

}
